{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Đăng nhập | Quản lý bán hàng</title>
    
    <link type="text/css" href="files/css/element.css" rel="stylesheet" />
	<script type="text/javascript" src="files/js/jquery_min.js"></script>
</head>

<body>
	<form class="dangnhap" name="frmDangNhap" id="frmDangNhap" method="post">
    	<input type="text" class="txt" name="txtUsername" id="txtUsername" required="required" placeholder="Tên đăng nhập" style="width:100px;" />
        <input type="password" class="txt" name="txtPassword" id="txtPassword" required="required" placeholder="Mật khẩu" />
        <input type="submit" class="btn" name="btnLogin" id="btnLogin" value="Đăng nhập" />
    </form>
</body>
</html>
