{% extends "master.html" %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock header %}

{% block category %}
    {% include 'includes/category.html' %}
{% endblock category %}

{% block mobile-category %}
    {% include 'includes/mobile-category.html' %}
{% endblock mobile-category %}

{% block home-product %}
    {% include 'includes/home-product.html' %}
{% endblock home-product %}

{% block pagination %}
    {% include 'includes/pagination.html' %}
{% endblock pagination %}

{% block filter %}
    {% include 'includes/filter.html' %}
{% endblock filter %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock footer %}
