.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    /* mất dấu chấm trên đầu câu đi */
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-list,
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}
.header__navbar-item {
    margin: 0 8px;
    position: relative;
    line-height: 20px;
    min-height: 26px;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 4px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    width: 160px;
    box-shadow: 0 1px 2px #ad9d9d ;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    display: flex;
    border-width: 20px 30px ;
    border-style: solid;
    border-color: transparent transparent #fff transparent ; 
    position: absolute;
    right: -1px;
    top: -26px;
    z-index: -1;
}
.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0px;
    width: 56%;
    height: 8px; 
    
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 16px 4px;
    display: block;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-img {
    width: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}
/* LOGO */
.header__navbar-logo{
    width: 130px;
    position: absolute;
    left: 0;
    top: 100%;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-icon-link {
    text-decoration: none;
    color: #fff;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-item, 
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    
}
.header__navbar-item, 
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items : center;
    
}   

.header__navbar-item:hover,
.header__navbar-icon-link:hover, 
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 600; 
}
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
/* Cách làm dấu gạch ngang cách 1 */
    /* background-color: #fff;
    width: 1px;
    top: 50%;
    right: -9px;
    transform: translateY(-50%); */
/*  Cách 2 */
    border-left: 1px solid #fbfbfb;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
    text-decoration: none;
}
