  <nav class="header__navbar">
                        <ul class="header__navbar-list">
                            <li class="header__navbar-item header__navbar-item--separate ">
                                <a href="#" class="header__navbar-title--no-pointer">Cửa hàng sữa cho mẹ bầu và em bé</a>
                            </li>

                            <li class="header__navbar-item">
                                <span class="header__navbar-title--no-pointer">Kết nối</span>
                                <a href="https://www.facebook.com/" class="header__navbar-icon-link">
                                    <i class="header__navbar-icon fa-brands fa-facebook"></i>
                                </a>
                                <a href="https://www.instagram.com/" class="header__navbar-icon-link">
                                    <i class="header__navbar-icon fa-brands fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
   <ul class="header__navbar-list">
                            <li class="header__navbar-item header__navbar-item--has-notify">
                                <a href="" class="header__navbar-item-link">
                                    <i class="header__navbar-icon fa-regular fa-bell"></i>
                                    Thông báo
                                </a>
                                <div class="header__notify">
                                    <header class="header__notify-header ">
                                        <h3>Thông báo mới nhận</h3>
                                    </header>
                                    <ul class="header__notify-list">
                                        <li class="header__notify-item header__notify-item--viewed">
                                            <a href="#" class="header__notify-link">
                                                <img src="./assets/img/voucher.jpg" alt="SP" class="header__notify-img">
                                                <div class="header__notify-info">
                                                    <span class="header__notify-name">Sữa chính hãng</span>
                                                    <span class="header__notify-description">Mô tả sữa chính hãng</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="header__notify-item header__notify-item--viewed">
                                            <a href="#" class="header__notify-link">
                                                <img src="./assets/img/voucher.jpg" alt="SP" class="header__notify-img">
                                                <div class="header__notify-info">
                                                    <span class="header__notify-name">Sữa chính hãng</span>
                                                    <span class="header__notify-description">Mô tả sữa chính hãng</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <footer class="header__notify-footer">
                                        <a href="" class="header__notify-footer-btn">Xem tất cả</a>
                                    </footer>
                                </div>
                            </li>
                            <li class="header__navbar-item">
                                <a href="" class="header__navbar-item-link">
                                    <i class="header__navbar-icon fa-regular fa-circle-question"></i>
                                    Trợ giúp
                                </a>
                            </li>
                            <!-- <li class="header__navbar-item header__navbar-item--strong header__navbar-item--separate">Đăngký</li>
                            <li class="header__navbar-item header__navbar-item--strong">Đăng nhập</li> -->
                            <li class="header__navbar-item header__navbar-user">
                                <img src="./assets/img/avatar-anh-meo-cute-3.jpg " alt="" class="header__navbar-user-img">
                                <span class="header__navbar-user-name">Mèo Méo Meo Mèo Meo</span>
                                <ul class="header__navbar-user-menu">
                                    <li class="header__navbar-user-item ">
                                        <a href="">Tài khoảng của tôi</a>
                                        <a href="">Địa chỉ của tôi</a>
                                        <a href="">Đơn mua</a>
                                        <div class="header__navbar-user-item--separate">
                                            <a href="">Đăng xuất</a>
                                        </div>
                                        
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    /* mất dấu chấm trên đầu câu đi */
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-list,
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}
