.footer {
    padding-top: 20px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}

.footer__hedding {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
