/* Tổng quát */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header {
    background:#ffcce6;
    color: #fff;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 53px;
}
header .logo h1 {
    margin: 0;
    padding-left: 1rem;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin: 1rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
}
.banner {
    text-align: center;
    background: #f4f4f4;
    padding: 2rem 1rem;
}
.logo{
    transform: scale(0.23);
}
.banner h2 {
    margin: 0;
    color: #333;
}
.btn {
    display: inline-block;
    background:black;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    text-decoration: none;
    border-radius: 5px;
}
.product-list {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}
.product-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    background: #fff;
    position: relative;
}
.product-item img {
    width: 100%;
    height:auto;   
    }
.khung{
    position: relative;
}
.sua1 {
    position: absolute;
    transform:scale(0.8) ;
    top: 29px ;
    left: 0px;
    
}     
.sua3 {
    position: absolute;
    transform:scale(0.8) ;
    top: 29px;
    left: 0px;
    
}   
.sua2 {
    position: absolute;
    transform:scale(0.8) ;
    top: 29px ;
    left: 0px;
}
footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
    height: 55px;
   
}
.about h2{
    margin: 12px; 
}
.about p{
    margin: 12px;
}
.abouts h2{
    margin: 12px;
}
.bangsua {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center;    /* Căn giữa theo chiều dọc */
    height: 100vh;    
    transform: scale(0.7);      /* Chiều cao bằng toàn bộ màn hình */
  }
