{% extends "master.html" %}

{% block header %}
    {% include '../../includes/header.html' %}
{% endblock header %}

{% block home-product %}
    <!--CONTENT-->
    <div class="content">
    	<p class="content-title">Thêm khách hàng mới</p>
        <form name="frmThemKhachHangMoi" id="frmThemKhachHangMoi" method="post" action="#">
        	Họ tên:<br/>
            <input type="text" class="txt" name="txtHoTen" id="txtHoTen" required style="width:300px;" /><br/><br/>
            Giới tính:<br/>
            <select class="txt" name="cmbGioiTinh" id="cmbGioiTinh" style="width:320px;">
            	<option value="1">Nam</option>
                <option value="2">Nữ</option>
            </select>
            <br/><br/>
            Email:<br/>
            <input type="email" class="txt" name="txtEmail" id="txtEmail" required style="width:300px;" /><br/><br/>
            Ngày sinh:<br/>
            <input type="date" class="txt" name="txtNgaySinh" id="txtNgaySinh" required style="width:300px;" /><br/><br/>
            <input type="submit" class="btn" name="btnThemKhachHang" id="btnThemKhachHang" value="Thêm" />
        </form>
    </div><!--END CONTENT-->
{% endblock %}

{% block footer %}
    {% include '../../includes/footer.html' %}
{% endblock footer %}