{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Quản lý bán hàng</title>
    
    <link type="text/css" href="{% static 'home/assets/files/css/element.css'%}" rel="stylesheet" />
	<script type="text/javascript" src="{% static 'home/assets/files/js/jquery_min.js'%}"></script>
    <script type="text/javascript" src="{% static 'home/assets/files/js/danhmuc.js'%}"></script>
</head>

<body>
	<!--HEADER-->
    <div class="header">
    	<a href="{% static 'home/danhmuc.html' %}" title="Quản lý bán hàng" style="outline:none;"><h1>QUẢN LÝ BÁN HÀNG</h1></a>
        <div class="logout">
            Xin chào <b>Dương Diệu Pháp</b> | <a href="#" title="Log out">Log out</a>
        </div>
        <!--NAVIGATION BAR-->
        <ul class="navigation">
        	<a href="{% static 'danhmuc.html'%}" title="Danh mục sản phẩm"><li>Danh mục sản phẩm</li></a>
            <a href="{% static 'sanpham.html'%}" title="Quản lý sản phẩm" class="navigation-item-selected"><li>Quản lý sản phẩm</li></a>
            <a href="{% static 'donhang.html'%}" title="Quản lý đơn hàng"><li>Quản lý đơn hàng</li></a>
            <a href="{% static 'khachhang.html'%}" title="Quản lý khách hàng"><li>Quản lý khách hàng</li></a>
            <a href="{% static 'nguoidung.html'%}" title="Quản lý người dùng"><li>Quản lý người dùng</li></a>
        </ul><!--NAVIGATION BAR-->
    </div><!--END HEADER-->
    
    <!--CONTENT-->
    <div class="content">
    	<p class="content-title">Thêm sản phẩm mới</p>
        <form name="frmThemDanhMucMoi" id="frmThemDanhMucMoi" method="post" action="#">
        	Tên sản phẩm:<br/>
            <input type="text" class="txt" name="txtTenDanhMuc" id="txtTenDanhMuc" required style="width:300px;" /><br/><br/>
            Danh mục:<br/>
            <select class="txt" name="cmbDanhMuc" id="cmbDanhMuc" style="width:320px;">
            	<option value="1">Quần áo trẻ em</option>
                <option value="2">Quần áo người lớn</option>
                <option value="3">Thiết bị điện tử</option>
                <option value="4">Linh tinh</option>
            </select>
            <br/><br/>
            Địa chỉ:<br/>
            <input type="url" class="txt" name="txtTenDanhMuc" id="txtTenDanhMuc" style="width:300px;" /><br/><br/>
            Số lượng:<br/>
            <input type="number" min="1" max="99999" class="txt" name="txtTenDanhMuc" id="txtTenDanhMuc" required style="width:300px;" /><br/><br/>
            Đơn giá:<br/>
            <input type="number" min="1" max="100000000" class="txt" name="txtTenDanhMuc" id="txtTenDanhMuc" required style="width:300px;" /><br/><br/>
            <input type="submit" class="btn" name="btnThemDanhMuc" id="btnThemDanhMuc" value="Thêm" />
        </form>
    </div><!--END CONTENT-->
    


</body>
</html>