{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Quản lý bán hàng</title>
    
    <link type="text/css" href="files/css/element.css" rel="stylesheet" />
	<script type="text/javascript" src="files/js/jquery_min.js"></script>
    <script type="text/javascript" src="files/js/khachhang.js"></script>
</head>

<body>
	<!--HEADER-->
    <div class="header">
    	<a href="danhmuc.html" title="Quản lý bán hàng" style="outline:none;"><h1>QUẢN LÝ BÁN HÀNG</h1></a>
        <div class="logout">
            Xin chào <b>Dương Diệu Pháp</b> | <a href="#" title="Log out">Log out</a>
        </div>
        <!--NAVIGATION BAR-->
        <ul class="navigation">
        	<a href="danhmuc.html" title="Danh mục sản phẩm"><li>Danh mục sản phẩm</li></a>
            <a href="sanpham.html" title="Quản lý sản phẩm"><li>Quản lý sản phẩm</li></a>
            <a href="donhang.html" title="Quản lý đơn hàng"><li>Quản lý đơn hàng</li></a>
            <a href="khachhang.html" title="Quản lý khách hàng" class="navigation-item-selected"><li>Quản lý khách hàng</li></a>
            <a href="nguoidung.html" title="Quản lý người dùng"><li>Quản lý người dùng</li></a>
        </ul><!--NAVIGATION BAR-->
    </div><!--END HEADER-->
    
    <!--CONTENT-->
    <div class="content">
    	<p class="content-title">Thêm khách hàng mới</p>
        <form name="frmThemKhachHangMoi" id="frmThemKhachHangMoi" method="post" action="#">
        	Họ tên:<br/>
            <input type="text" class="txt" name="txtHoTen" id="txtHoTen" required style="width:300px;" /><br/><br/>
            Giới tính:<br/>
            <select class="txt" name="cmbGioiTinh" id="cmbGioiTinh" style="width:320px;">
            	<option value="1">Nam</option>
                <option value="2">Nữ</option>
            </select>
            <br/><br/>
            Email:<br/>
            <input type="email" class="txt" name="txtEmail" id="txtEmail" required style="width:300px;" /><br/><br/>
            Ngày sinh:<br/>
            <input type="date" class="txt" name="txtNgaySinh" id="txtNgaySinh" required style="width:300px;" /><br/><br/>
            <input type="submit" class="btn" name="btnThemKhachHang" id="btnThemKhachHang" value="Thêm" />
        </form>
    </div><!--END CONTENT-->
    
    <!--FOOTER-->

    
</body>
</html>