{% extends "master.html" %}

{% block header %}
    {% include '../../includes/header.html' %}
{% endblock header %}

{% block home-product %}
<div class="content">
    <span class="ketquatimkiem">Tìm thấy 200 kết quả.</span>
    
    <!--TIM KIEM-->
    <form class="timkiem" name="frmTimKiem" id="frmTimKiem" method="post">
        <input type="search" class="txt" name="txtSearch" id="txtSearch" placeholder="Nhập từ khoá cần tìm" style="width: 250px;" />
    </form><!--END TIM KIEM-->
    
    <!--DANH SACH-->
    <div class="danhsach">
        <ul class="danhsach-header">
            <li style="width:60px;">ID</li>
            <li style="width:250px;">Tên sản phẩm</li>
            <li style="width:200px;">Danh mục</li>
            <li style="width:200px;">hình Ảnh</li>
            <li style="width:80px;">Số lượng</li>
            <li style="width:130px;">Đơn giá</li>
            <li style="width:80px; text-align:center;">Trạng thái</li>
            <li style="width:100px; float:right; text-align:right;">
                <a href="product-add.html" name="btnThemSanPham" id="btnThemSanPham" title="Thêm sản phẩm mới">+ Thêm mới</a>
            </li>
        </ul>
        <div class="danhsach-chitiet">                
            <ul class="danhsach-item">
                <li style="width:60px;">1</li>
                <li style="width:250px;">Sữa Glico Icreo số 0 800g</li>
                <li style="width:200px;">Sữa Nhật</li>
                <li style="width:200px;">
                    <a href="{%static 'home/assets/img/img_sp/Nhat/68027-1728376685-trans.png'%}" title="{%static 'home/assets/img/img_sp/Nhat/68027-1728376685-trans.png'%}" target="_blank">
                        ...57857833_159548707_n.jpg
                    </a>
                </li>
                <li style="width:80px;">522</li>
                <li style="width:130px;">200.000</li>
                <li style="width:80px; text-align:center;">
                    <img class="imgTrangThai" name="imgTrangThai1" id="imgTrangThai1" src="{%static 'home/files/images/check.png'%} alt="" width="16" height="16" data-code="1" title="Kích hoạt" />
                </li>
                <li style="width:100px; float:right; text-align:right;">
                    <a class="lnkSua" name="btnSua1" id="btnSua1" data-id="1" data-trangthai="0" title="Sửa sản phẩm" href="product-add.html">Sửa</a>
                    <a class="lnkXoa" name="btnXoa1" id="btnXoa1" data-id="1" title="Xoá sản phẩm">Xoá</a>
                </li>
            </ul>
            <ul class="danhsach-item">
                <li style="width:60px;">2</li>
                <li style="width:250px;">Sữa Meiji 820g</li>
                <li style="width:200px;">Sữa Nhật</li>
                <li style="width:200px;">
                    <a href="http://img822.imageshack.us/img822/374/nqlgfront.jpg" title="http://img822.imageshack.us/img822/374/nqlgfront.jpg" target="_blank">
                        ...k.us/822/374/nqlgfront.jpg
                    </a>
                </li>
                <li style="width:80px;">1350</li>
                <li style="width:130px;">520.000</li>
                <li style="width:80px; text-align:center;">
                    <img class="imgTrangThai" name="imgTrangThai1" id="imgTrangThai1" src="{%static 'home/files/images/check.png'%}" alt="" width="16" height="16" data-code="1" title="Kích hoạt" />
                </li>
                <li style="width:100px; float:right; text-align:right;">
                    <a class="lnkSua" name="btnSua2" id="btnSua2" data-id="2" data-trangthai="0" title="Sửa sản phẩm" href="product-add.html">Sửa</a>
                    <a class="lnkXoa" name="btnXoa2" id="btnXoa2" data-id="2" title="Xoá sản phẩm">Xoá</a>
                </li>
            </ul>
            
        </div>
    </div><!--END DANH SACH-->
    <div class="danhsach-navigation">
        <a name="btnThemDanhMuc" id="btnThemDanhMuc">< Trang cũ</a>
        <label id="lblTrang">1/4 trang</label>
        <a name="btnThemDanhMuc" id="btnThemDanhMuc">Trang kế ></a>
    </div>
</div><!--END CONTENT-->
{% endblock %}

{% block footer %}
    {% include '../../includes/footer.html' %}
{% endblock footer %}