{% load static %}
<footer class="footer">
    <div class="grid wide footer__content">
        <div class="row">
            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__headding">Hỗ Trợ khách hàng</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                        <a href="" class="footer-item__link">Công nghệ phần mềm pro max</a>
                        <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                    </li>
                </ul>
            </div>
            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__headding">Giới thiệu</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Giới thiệu về sữa hàng đầu Việt Nam</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Tuyển dụng</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Điều khoản</a>
                    </li>
                </ul>
            </div>
            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__headding">Theo dõi</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">
                            <i class="footer-item__icon fa-brands fa-tiktok"></i>
                            Tiktok
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">
                            <i class="footer-item__icon fa-brands fa-facebook"></i>
                            Facebook
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">
                            <i class="footer-item__icon fa-brands fa-instagram"></i>
                            Instagram
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__headding">Nhóm thực hiện dự án CN2303B</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Trần Tấn Thuận</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Phạm Hoài Khang</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Trần Thị Hồng Nhung</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Trần Ngô Phương Nga</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Nguyễn Thị Kim Tuyền</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Nguyễn Thị Mỹ Tuyền</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Đặng Trương Tuấn Anh</a>
                    </li>
                </ul>
            </div>
            <div class="col l-2-4 m-4 c-12">
                <h3 class="footer__headding">Phương pháp sử dụng</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Chat GPT</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Copilot</a>
                    </li>
                </ul>
            </div>
        </div>                    
    </div>
    <div class="footer__bottom">
        <div class="grid wide">
            <p class="footer__text">© 2025. Công ty cổ phần CNPM. GPDKKD: 03331232131 do sở KH &amp; ĐT TP.HCM cấp ngày 01/01/2025.</p>
        </div>
    </div>
</footer>