{% load static %}
<div class="col l-2 m-0 c-0">
    <nav class="category">
        <h3 class="category__heading">Danh mục</h3>
        <ul class="category-list">
            <li class="category-item category-item--active">
                <a href="#" class="category-item__link">Sữa bột cao cấp</a>
            </li>
            <li class="category-item">
                <a href="#" class="category-item__link">Sữa Mỹ</a>
            </li>
            <li class="category-item">
                <a href="#" class="category-item__link">Sữa Nhật</a>
            </li>
            <li class="category-item">
                <a href="#" class="category-item__link">Sữa Úc</a>
            </li>
            <li class="category-item">
                <a href="#" class="category-item__link">Sữa Châu Âu</a>
            </li>
        </ul>
    </nav>
</div>