{% load static %}
<nav class="mobile-category">
    <ul class="mobile-category__list">
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Sữa thương hiệu Châu Âu</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Sữa thương hiệu Châu Âu</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Sữa thương hiệu Châu Âu</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Sữa thương hiệu Châu Âu</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Sữa thương hiệu Châu Âu</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Sữa thương hiệu Châu Âu</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Sữa thương hiệu Châu Âu</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Sữa thương hiệu Châu Âu</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Sữa thương hiệu Châu Âu</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Sữa thương hiệu Châu Âu</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Sữa thương hiệu Châu Âu</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Sữa thương hiệu Châu Âu</a>
        </li>
    </ul>
</nav>
